*{
    margin: 0;
    padding: 0;
}
body{
    color: white;
    background-color:#3D4654;
    font-family: "Montserrat", sans-serif;
}
nav {
    color: white;
    font-family: sneakers-pro, sans-serif;
    font-style: normal;
    font-weight: 500;
    text-transform:capitalize;
    text-decoration: none;
    display: flex;
    justify-content:space-between;
    align-items: center;
    background-color: #26BF94;
    padding: 5px 2px 2px 8px;
    width:100%;
}
nav a{
    color:white;
    font-family: sneakers-pro, sans-serif;
    font-style:normal;
    font-weight: 100;
    font-size: 24px;
    text-decoration: none;
    margin-right:15%;
}
nav a:hover{
    color: #5F1773;
    text-decoration: underline;
}
h1{
    color:white;
    font-family: sneakers-pro, sans-serif;
    font-style:normal;
    font-weight: 500;
    font-size:30px;
    background-color: #F2507B;
    text-align:center;
    margin-right:15%;
    margin-bottom: 20px;
    padding: 5px;
    width:99.4%;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.item1{
    margin-left:355px;
    margin-right:25px;
    margin-bottom:80px;
    border: 3px solid #5F1773;
    
}
.item2{
    margin-top:5px;
    margin-left:10px;
    margin-right:345px;
    margin-bottom: 40px;
    justify-content: center;
    padding: 30px;
}
.item3{
    margin-right:50px;
    margin-left:300px;
    margin-bottom: 40px;
    padding-bottom: 420px;
    justify-content: center;
}
.item4{
    display: flex;
    margin-right:300px;
    margin-bottom:150px;
    margin-left:50px;
    border: 3px solid #5F1773;   
}
.centered-img {
    display: flex;
    justify-content: center; 
}
h2{
    color:#26BF94;
    font-family: sneakers-pro, sans-serif;
    font-style:normal;
    font-weight: 500;
    text-align:center;
    margin-right:15%;
    margin-bottom: 20px;
    padding: 15px;
    width:99.4%;
}
footer {
    color: white;
    background-color: #5F1773;
    text-align: right;
    padding: 10px;
    width: 99.4%;
}
footer a{
    color:white;
}