body{
    background-color: #DBDBDB;
    font-family: "SFPro", sans-serif;
    color: "white";
}
nav {
    font-family: "SFPro", sans-serif;
    text-transform: uppercase;
    display: flex;
    justify-content:center;
    align-items: center;
    background-color: #26BF94;
    padding: 5px;
}

footer {
    background-color: #5F1773;
    color: white;
    text-align: left;
    padding: 10px;
    width: 100%;
}