*{
    margin: 0;
    padding: 0;
}
body{
    color: white;
    background-color:#3D4654;
    font-family: "Montserrat", sans-serif;
}
nav {
    color: white;
    font-family: sneakers-pro, sans-serif;
    font-style: normal;
    font-weight: 500;
    text-transform:capitalize;
    text-decoration: none;
    display: flex;
    justify-content:space-between;
    align-items: center;
    background-color: #26BF94;
    padding: 5px 2px 2px 8px;
    width:100%;
}
nav a{
    color:white;
    font-family: sneakers-pro, sans-serif;
    font-style:normal;
    font-weight: 100;
    font-size: 24px;
    text-decoration: none;
    margin-right:15%;
}
nav a:hover{
    color: #5F1773;
    text-decoration: underline;
}
h1{
    color:white;
    font-family: sneakers-pro, sans-serif;
    font-style:normal;
    font-weight: 500;
    font-size:30px;
    background-color: #F2507B;
    text-align:center;
    margin-right:15%;
    margin-bottom: 20px;
    padding: 5px;
    width:99.4%;
}
.container{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items:flex-start;
}
.item1{
    margin-left:220px;
    margin-bottom:40px;
    border: 3px solid #5F1773;
    
}
.item2{
    flex-grow: 1;
    justify-content: center;
    margin-left: 30px;
    margin-right:220px;
}
.item2 p{
    margin-bottom:280px;
}
.image-container {
    display: flex;
    flex-direction: column;
}
.container2{
    display:flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 40px;
}
.text-container{
    flex-grow:1;
    margin-right:30px;
}
.item3{
    margin-left:220px;
    margin-bottom: 250px;
    justify-content: center;
}
.second-paragraph{
    margin-bottom: 200px;
}
.item4{
    margin-right:220px;
    margin-bottom:80px;
    margin-left:50px;
    border: 3px solid #5F1773;   
}
.image-container2{
    display:flex;
    flex-direction: column;
    align-items: flex-end;
}
.centered-img {
    display: flex;
    justify-content: center; 
}
h2{
    color:#26BF94;
    font-family: sneakers-pro, sans-serif;
    font-style:normal;
    font-weight: 500;
    text-align:center;
    margin-right:15%;
    margin-bottom: 20px;
    padding: 15px;
    width:99.4%;
}
footer {
    color: white;
    background-color: #5F1773;
    text-align: right;
    padding: 10px;
    width: 99.4%;
}
footer a{
    color:white;
}